/*-------------------||Form for book an appointment||-----------------------*/
.take-appointment__form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  width: 50vw;
  flex-direction: column;
  gap: 35px;
  background: #e3e3e3;
  box-shadow: 16px 16px 32px #c8c8c8, -16px -16px 32px #fefefe;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.take-appointment__form > .take-appointment__title {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: x-large;
}


.take-appointment__form > .take-appointment__title > .inputBox {
  position: relative;
  width: 250px;
}


.take-appointment__form > .take-appointment__title > .inputBox input,
.inputBox select,
.inputBox textarea {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 8px;
}


.take-appointment__form > .take-appointment__title > .inputBox span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY(-4px);
  margin-left: 10px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 3px;
  border-radius: 8px;
}


.take-appointment__form > .take-appointment__title > .inputBox input:valid,
.inputBox select:valid,
.inputBox textarea:valid,
.inputBox input:focus,
.inputBox select:focus,
.inputBox textarea:focus {
  border: 2px solid #000;
  border-radius: 8px;
}


.take-appointment__form > .take-appointment__title > .inputBox input:valid~span,
.inputBox select:valid~span,
.inputBox textarea:valid~span,
.inputBox input:focus~span,
.inputBox select:focus~span,
.inputBox textarea:focus~span {
  transform: translateX(113px) translateY(-15px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #000;
  letter-spacing: 0.2em;
  color: #fff;
  border: 2px;
}


.confirm {
  height: 45px;
  width: 100px;
  border-radius: 5px;
  border: 2px solid #000;
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
  text-transform: uppercase;
  font-size: 10px;
}