{% extends "coach_Xu_Wenwu_app/base.html" %}

{% block title %}
    <title>Tableau de bord - Coach Xu Wenwu</title>
{% endblock %}

{% block body %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <h5 id="account-created">Félicitation :</h5> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}


    <nav>
        <h1>Xu Wenwu</h1>

        <ul>
            <li><a href="/rendez-vous/">Prendre Rendez-vous</a></li>
            <li><a href="">Rendez-vous passés</a></li>
            <li><a href="/">Déconnexion</a></li>
        </ul>
    </nav>

    <h1>Bienvenue ! </h1>

    {% if user.is_authenticated %}
        <h3>Hello {{ fname }}</h3>
        <h4>Vous êtes connecté.</h4>
    {% endif %}

    {% if your_time %}
        <p>{{ your_time }}</p>
    {% endif %}

{% endblock %}