{% extends "coach_Xu_Wenwu_app/base.html" %}

{% block title %}
    <title>Accueil - Coach Xu Wenwu</title>
{% endblock %}

{% block body %}

    <nav>
        <h1>Xu Wenwu</h1>

        <ul>
            <li><a href="">Accueil</a></li>
            <li><a href="">À propos</a></li>
            <li><a href="">Expertise</a></li>
            <li><a href="">Livres</a></li>
            <li><button type="submit"><a href="/connexion">Connexion</a></button></li>
            <li><button type="submit"><a href="/inscription">Inscription</a></button></li>
            <li><button type="submit">Déconnexion</button></li>
        </ul>
    </nav>

    <script src="" async defer></script>
{% endblock %}