.sign {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    color: white;
    background-color: var(--primary-background-color);
}

.sign__container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px;
}

.sign__go-back-link {
    align-self: start;
    text-decoration: none;
    color: var(--sign_goback-color);
}

@media screen and (min-width: 1024px) {
    .sign::before {
        content: "";
        width: 50vw;
        min-height: 100vh;
        background-image: url("https://cdn.pixabay.com/photo/2020/09/24/03/50/achievement-5597527_1280.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}