:root {
    --primary-color: seagreen;
    --secondary-color: indianred;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    overflow-x: hidden;
}

/*-------------------||buttons||-----------------------*/
.button {
    all: unset;
    user-select: none;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    font-size: 1rem;
    text-align: center;
    padding: 3px 9px;
    border-radius: 3px;
}

/*-------------------||Nav-bar||-----------------------*/
.navbar {
    /*position: fixed;*/
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    background-color: white;
    width: 100%;
}


.navbar > h1 > a {
    font-weight: 500;
    text-decoration: none;
    color: black;
}


.navbar > ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}


.navbar > ul > li {
    margin-right: 50px;
}


.navbar > ul > li > a:not(.button) {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom ease-in-out 200ms;
}


.navbar > ul > li > a:not(.button):hover {
    border-bottom: 3px solid seagreen;
    transition: border-bottom linear 200ms;
}


/*-------------------||Form elements||-----------------------*/
.form {
    width: 75%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.label {
    display: flex;
    flex-direction: column;
}

.input[type="text"], .input[type="email"], .input[type="password"] {
    margin-top: 3px;
    font-size: 1rem;
}

.input[type="text"], .input[type="email"], .input[type="password"], .submit-btn {
    padding-block: 6px;
    padding-right: 6px;
    padding-left: 9px;
}

.submit-btn {
    font-size: 1.2rem;
}

.submit-btn {
    margin-top: 10px;
}

.input-error {
    margin-top: 3px;
    font-size: 0.85rem;
    color: red;
}