:root {
    --primary-color: seagreen;
    --secondary-color: indianred;
    --text-primary-color: white;
    --text-secondary-color: #FFFBEB;
    --sign_goback-color: #EB6440;
    --primary-background-color: #2B3A55;
    --secondary-background-color: #50577A;
    --valid-color: green;
    --error-color: red;
    --black-color: black;
    --white-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    overflow-x: hidden;
}

/*-------------------||buttons||-----------------------*/
.button {
    all: unset;
    user-select: none;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1rem;
    text-align: center;
    padding: 3px 9px;
    border-radius: 3px;
}

/*-------------------||Nav-bar||-----------------------*/
.navbar {
    /*position: fixed;*/
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    width: 100%;
    background-color: var(--primary-background-color);
    color: var(--white-color);
}


.navbar > h1 > a {
    font-weight: 500;
    text-decoration: none;
    color: var(--white-color);
}


.navbar > ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}


.navbar > ul > li {
    margin-right: 50px;
}


.navbar > ul > li > a:not(.button) {
    color: var(--white-color);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom ease-in-out 200ms;
}


/*.navbar > ul > li > a:not(.button):hover {*/
/*    border-bottom: ;*/
/*}*/


/*-------------------||Footer-bar||-----------------------*/
.footer {
    /*position: fixed;*/
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    width: 100%;
    background-color: var(--primary-background-color);
    color: var(--white-color);
}


.footer > .data-rules {
    font-size: 10px;
    color: var(--white-color);
}


/*-------------------||Form elements||-----------------------*/
.form {
    width: 75%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.label {
    display: flex;
    flex-direction: column;
}

.input[type="text"], .input[type="email"], .input[type="password"] {
    margin-top: 3px;
    font-size: 1rem;
}

.input[type="text"], .input[type="email"], .input[type="password"], .submit-btn {
    padding-block: 6px;
    padding-right: 6px;
    padding-left: 9px;
}

.submit-btn {
    font-size: 1.2rem;
}

.submit-btn {
    margin-top: 10px;
}

.input-error {
    margin-top: 3px;
    font-size: 0.85rem;
    color: var(--error-color);
}