{% extends "coach_Xu_Wenwu_app/base.html" %}

{% block title %}
    Tableau de bord - Coach Xu Wenwu
{% endblock %}

{% block body %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <h5 id="account-created">Félicitation :</h5> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    {% include "coach_Xu_Wenwu_app/back_office/includes/navbar.html" %}

    <h1>Bienvenue ! </h1>

    {% if user.is_authenticated %}
        <h3>Hello {{ fname }}</h3>
        <h4>Vous êtes connecté.</h4>
    {% endif %}

    {% if your_time %}
        <p>{{ your_time }}</p>
    {% endif %}

{% endblock %}