{% extends "coach_Xu_Wenwu_app/base.html" %}
{% load static %}
{% block title %}
    Accueil - Coach Xu Wenwu
{% endblock %}

{% block extra-head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="{% static 'client/home.css' %}">
{% endblock %}

{% block body %}

    <div class="scroll_target_top">
    {% include "coach_Xu_Wenwu_app/client/includes/navbar.html" %}
    </div>

    <main>
        <section class="home__first-view">
            <div class="home__container">
                <h1 class="home__title-section">Êtes-vous prêt à changer votre vie ?</h1>
                <p class="home__text-section">Vous deviendrez une meilleure version de vous même.</p>
                <a class="scroll_down_button down-button" type="button"><svg width="55" height="35" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.18179 6.18181C4.35753 6.00608 4.64245 6.00608 4.81819 6.18181L7.49999 8.86362L10.1818 6.18181C10.3575 6.00608 10.6424 6.00608 10.8182 6.18181C10.9939 6.35755 10.9939 6.64247 10.8182 6.81821L7.81819 9.81821C7.73379 9.9026 7.61934 9.95001 7.49999 9.95001C7.38064 9.95001 7.26618 9.9026 7.18179 9.81821L4.18179 6.81821C4.00605 6.64247 4.00605 6.35755 4.18179 6.18181Z" fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"></path></svg></a>
            </div>
        </section>


        <section class="home__second-view scroll_target_down">
            <div class="home__second-view-container">
                <h1>Mon talent ?</h1>
                <p>
                    Vous poussez à devenir une meilleure version de vous même. <br>
                    Que vous cherchiez à améliorer votre confiance en vous, à mieux gérer votre stress, à trouver votre voie professionnelle ou à améliorer vos relations, je suis là pour vous aider. Nous travaillerons ensemble pour identifier vos objectifs, comprendre les obstacles qui vous empêchent d'avancer et élaborer un plan d'action concret pour les surmonter.
                </p>

                <a href="/register" class="button">Allons-y</a>
                <a class="button">Découvrir mon parcours</a>
            </div>
        </section>
    </main>

    {% include "coach_Xu_Wenwu_app/client/includes/footer.html" %}
    <script src="{% static 'client/extends/scrolling.js' %}"></script>
{% endblock %}