{% extends "coach_Xu_Wenwu_app/client/extends/sign_base.html" %}
{% load static %}
{% block title %}
    Connexion - Coach Xu Wenwu
{% endblock %}

{% block content %}
    <h1>Connexion</h1>
    <form class="form" action="" method="post">
        {% csrf_token %}
        <label class="label">
            Nom d'utilisateur
            <input class="input" type="text" name="username"
                   placeholder="Entrez votre nom d'utilisateur" required minlength="3">
            <span class="input-error">Votre nom d'utilisateur est incorrect</span>
        </label>
        <label class="label">
            Mot de passe
            <input class="input" type="password" name="password"
                   placeholder="Saisissez votre mot de passe" required minlength="3">
        </label>
        <button class="button submit-btn">Connexion</button>
    </form>
{% endblock %}